.container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, 2fr);
}

.clear,
.equal {
  grid-column: span 2;
}
